body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}

header {
    background-color: #222;
    color: white;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 10px;
}

nav ul li {
    background-color: #555;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    width: 150px;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

nav ul li a:hover {
    background-color: #777;
}

main {
    margin: 0px auto;
    padding: 20px;
    width: 75%;
}

.row {
    margin: 0px auto;
    display: flex;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
    flex: 1;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 20px;
}

.justify-space-between {
    justify-content: space-between;
}

section:last-child {
    margin-right: 0px;
}

section h1, section h2, section h3 {
    display: block;
    color: #333;
    margin: 0px;
    padding: 10px;
}

section p {
    display: block;
    color: #666;
    margin: 0px;
    padding: 10px;
}

section button, form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section button:hover {
    background-color: #555;
}

footer {
    margin-top: auto;
    background-color: #222;
    text-align: center;
    color: white;
    width: 100%;
}

@media (max-width: 820px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: stretch;
        margin-top: 10px;
    }

    nav ul:last-child {
        margin-bottom: 10px;
    }

    nav ul li {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }

    nav ul li:last-child {
        margin-bottom: 0px;
    }

    main {
        width: calc(100% - 40px);
    }

    .row {
        width: 100%;
    }
}