
form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
}

form label {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #333;
}

form label, form input {
    padding: 10px 0px;
}

form input,
form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: vertical;
    min-height: 100px;
}

form select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

form select:focus {
    outline: none;
    border-color: #aaa;
    background-color: #fff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

form input:-webkit-autofill,
form input:-webkit-autofill:hover, 
form input:-webkit-autofill:focus, 
form input:-webkit-autofill:active {
    -webkit-text-fill-color: #333;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.star {
    color: lightgray;
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
}

.star.highlight {
    color: gold;
}